*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#page_complete
{
	width: auto;
	margin: auto;
}




/* SECTION 1 */

#section1
{
    text-align: center;
}

#form
{
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 15px;
}

#regroupe 
{
    width: 50%;
    justify-content: space-around;
}


#regroupe2 
{
    width: 50%;
    justify-content: space-around;
}

#logement
{
    justify-content: center;
}



/* HEBERGEMENT */

#section2
{
	float: none;
    height: auto;
    width: auto;
}







/* ASIDE */

#aside_conteneur
{
	float: none;
    width: 100%;
    height: auto;
}







/* GRID */

#section3 h2
{
    margin-left: 15px;
}



.bloc_grid
{
    margin-left: 15px;
    margin-right: 15px;
}