*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#page_complete
{
	width: auto;
	margin: auto;
}




/* SECTION 1 */

main #section1
{
    text-align: center;
}

main #section1 h1
{
    font-size: 1.4em;
}

main #form
{
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 15px;
}

main #filtres
{
    background-color: #fff6eb;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
}

main .filter
{
    background-color: aliceblue;
}

main #filtres p
{
    margin-left: 15px;
}

main #regroupe 
{
    width: 50%;
    justify-content: space-around;
}

main .photo figure
{
    margin-left: 0;
}

main #regroupe2 
{
    width: 50%;
    justify-content: space-around;
}

main #logement
{
    justify-content: center;
}




/* HEBERGEMENT */

.photo
{
    width: 25%;
}

main #section2 img
{
    width: 100%;
}

main #section2 figcaption
{
    text-align: center;
    padding-left: 0;
}

main #section2
{
	float: none;
    height: auto;
    width: auto;
    background-color: #fff6eb;
    border-radius: 20px;
    border: 1px solid #e0e0e0;
}

main #section2 h2
{
    margin-top: 10px;
    margin-left: 0;
    padding-top: 15px;
    text-align: center;
    font-size: 1.2em;
}

main #section2 p
{
    padding-bottom: 15px;
    font-size: 1em;
    text-align: center;
    margin-left: 0;
}

main #hebergement1
{
    justify-content: space-around;
}

main #hebergement2
{
    justify-content: space-around;
}


main .name_accommodation
{
    font-size: 0.95em;
}

main .price_accomodation 
{
    font-size: 0.9em;
}



/* ASIDE */

main #aside_conteneur
{
	float: none;
    width: 100%;
    background-color: #fff6eb;
    border-radius: 20px;
    border: 1px solid #e0e0e0;
    margin-top: 30px;
}

main #aside_conteneur h2
{
    justify-content: center;
    font-size: 1.2em;
}

main #aside_conteneur strong
{
    margin-right: 15px;
}




/* GRID */

main #section3 h2
{
    margin-left: 15px;
    font-size: 1.2em;
    text-align: center;
}



.bloc_grid
{
    margin-left: 15px;
    margin-right: 15px;
}




/* FOOTER */

footer #footer 
{
    margin-bottom: 0;
}

footer #pos
{
    width: 100%;
    justify-content: space-around;
}

footer #a_propos
{
	width: 25%;
}


footer #nos_hebergements
{
	width: 20%;
}


footer #assistance
{
	width: 15%;
}