
#Page_Complete
{
	width: auto;
	margin: auto;
}





/* SECTION 2 */

#Section2
{
	float: none;
	height: auto;
	background-color: transparent;
	margin: auto;
}

#Section2 img
{
	width: 386px;
	height: 141px;
}

#Section2 figure
{
	margin-left: 0px;
	background-color: #F2F2F2;
	width: 393px;
}

.photo
{
	width: 386px;
	height: 260px;
}


#Hebergement1
{
	flex-direction: column;
}

#Hebergement2
{
	flex-direction: column;
}






/* ASIDE */

#Aside 
{
	float: none;
	width: auto;
	border-radius: 0;
	height: 445px;
}

#Aside h2
{
	padding-top: 10px;
}

.aside figure
{
	margin: auto;
	margin-bottom: 10px;
	width: 386px;
}






/* SECTION 3 */

#Section3
{
	width: 386px;
	margin: auto;
	clear: none;
}



.Activite img
{
	width: 386px;
	height: 141px;
}


#Conteneur
{
	display: flex;
	flex-direction: column;
}






/* FOOTER */


#footer
{
	width: 100%;
	margin: auto;
}



#A_propos
{
	margin-left: 50px;
	margin-top: 0px;
}


#Nos_Hebergements
{
	margin-left: 50px;
	margin-top: 28px;
}


#Assistance
{
	margin-left: 50px;
	margin-top: 28px;
}