*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#page_complete
{
	width: auto;
	margin: auto;
}




/* SECTION 1 */

#section1
{
    text-align: center;
}

#section1 h1
{
    font-size: 1.4em;
}

#form
{
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 15px;
}


#filtres p
{
    margin-left: 15px;
}


#regroupe 
{
    width: 50%;
    justify-content: space-around;
}


#regroupe2 
{
    width: 50%;
    justify-content: space-around;
}

#logement
{
    justify-content: center;
}




/* HEBERGEMENT */

#section2
{
	float: none;
    height: auto;
    width: auto;
}

#section2 h2
{
    margin-top: 10px;
    padding-top: 15px;
    text-align: center;
    font-size: 1.2em;
}

#section2 p
{
    padding-bottom: 15px;
    font-size: 1em;
    text-align: center;
}

#hebergement1
{
    justify-content: space-around;
}

#hebergement2
{
    justify-content: space-around;
}




/* ASIDE */

#aside_conteneur
{
	float: none;
    width: 100%;
}

#aside_conteneur h2
{
    justify-content: center;
    padding-top: 15px;
    font-size: 1.2em;
}

#aside_conteneur strong
{
    margin-right: 15px;
}




/* GRID */

#section3 h2
{
    margin-left: 15px;
    font-size: 1.2em;
    text-align: center;
}



.bloc_grid
{
    margin-left: 15px;
    margin-right: 15px;
}




/* FOOTER */

#pos
{
    width: 100%;
    justify-content: space-around;
}

#a_propos
{
	width: 25%;
}


#nos_hebergements
{
	width: 20%;
}


#assistance
{
	width: 15%;
}