#Page_Complete
{
	width: 1200px;
	margin: auto;
}



header
{
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}



#Naviguation ul
{
	list-style-type: none;
	display: flex;
}

#Naviguation li
{
	padding-left: 50px;
}

#Naviguation li a
{
	text-decoration: none;
}

#Naviguation a:hover
{
	border-top: 2px blue solid;
	padding-top: 25px;
}




#Logo










#Section1

#Formulaire

#Economique

#Familial

#Romantique

#Animaux





#Section2

#Hebergement1

#Figure1

#Figure2

#Figure3




#Hebergement2

#Figure4

#Figure5

#Figure6





#Aside

#Populaire1

#Populaire2

#Populaire3




#Section3

#Activité1

#Activité2

#Activité3

#Activité4

#Activité5

#Activité6






#A_propos


#Nos_Hebergements


#Assistance