


#Page_Complete
{
	width: 1000px;
	margin: auto;
}



/* DEBUT HEADER */

header
{
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}



/* NAVIGUATION */

#Naviguation ul
{
	list-style-type: none;
	display: flex;
}

#Naviguation li
{
	padding-left: 50px;
}

#Naviguation li a
{
	text-decoration: none;
}

#Naviguation a:hover
{
	border-top: 2px blue solid;
	padding-top: 25px;
}



/* TITRE */

#Section1 h1
{
	margin-bottom: 0px;
}

#Section1 h1 + p
{
	margin-top: 5px;
}



/* FORMULAIRE */


#Form p
{
	display: flex;
}


#Form label
{
	background-color: #F2F2F2;
	padding-left: 12px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 5px;
	border-radius: 35% 0% 0% 35%;
}


#Form input
{
	height: 26px;
	border: 0.5px solid #F2F2F2;
}


#Recherche_bouton
{
	background-color: #0065FC;
	color: white;
	border-radius: 0 8px 8px 0;
	height: 29px !important;
}




/* FILTRES CONTENEUR */

#Filtres
{
	display: flex;
	align-items: baseline;
}

#Filtres p
{
	margin-right: 20px;
	margin-bottom: 11px;
	margin-top: 11px;
}


/* FILTRES */

.Filter
{
	display: flex;
	align-items: center;
	border: 1px solid #F2F2F2;
	border-radius: 15px 15px 15px 15px;
	height: 34px;
	position: relative;
	margin-left: 7px;
	margin-right: 25px;
}

.filter_text
{
	padding-right: 10px;
	padding-left: 35px;
}

.Filter i
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #DEEBFF;
	color: #0065FC;
	border-radius: 50%;
	margin-right: 10px;
	position: absolute;
    top: -1px;
    left: -7px;
    height: 36px;
    width: 36px;
}



/* LOGEMENT */

#Logement
{
	display: flex;
	align-items: baseline;
}

#Logement p
{
	margin-left: 10px;
}

#Logement i
{
	color: #0065FC;
	border: 1px solid #F2F2F2; 
	background-color: #ffffff;
	height: 23px;
    width: 23px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* SECTION 2 */


#Section2
{
	background-color: #F2F2F2;
	width: 63%;
	border-radius: 15px;
	float: left;
	height: 475px;
}

#Section2 h2
{
	margin-left: 25px;
	margin-bottom: 0;
}

#Section2 p
{
	margin-left: 40px;
	margin-top: 12px;
}


#Hebergement1
{
	display: flex;
}

#Hebergement1 i
{
	color: #0065FC;
}


#Hebergement2
{
	display: flex;
}

#Hebergement2 i
{
	color: #0065FC;
}


.photo figure
{
	background-color: white;
    border: 3.5px solid white;
    border-radius: 12px;
    margin-right: 0px;
    margin-left: 25px;
}

.photo img
{
	border-radius: 10px 10px 0px 0px;
}



/* ASIDE */


#Aside
{
	background-color: #F2F2F2;
	width: 34%;
	border-radius: 15px;
	float: right;
	height: 475px;
}

#Aside h2
{
	margin-left: 25px;
	text-align: center;
}

.aside figure
{
	background-color: white;
    border: 3.5px solid white;
    border-radius: 12px;
}

.aside img
{
	border-radius: 10px 0px 0px 10px;
}

.aside i
{
	color: #0065FC;
}


.flex
{
	display: flex;
	height: 105px;
	margin-bottom: 22px;
}




/* SECTION 3 */


#Section3 h2
{
	clear: both;
 	padding-top: 35px;
 	margin-bottom: 0;
}


#Conteneur
{
	display: flex;
	justify-content: space-between;
}


#Section3 figcaption
{
	padding-top: 6px;
	padding-bottom: 10px;
	padding-left: 15px;
}


.Activite figure
{
	background-color: #f0f0f0;
    border-radius: 12px;
    margin-right: 0px;
    margin-left: 25px;
}

.Activite img
{
	border-radius: 10px 10px 0px 0px;
}




/* FOOTER */

#footer
{
	display: flex;
	background-color: #F2F2F2;
	margin-top: 25px;
}

#A_propos
{
	margin-left: 40px;
}


#Nos_Hebergements
{
	margin-left: 120px;
}


#Assistance
{
	margin-left: 150px;
}