
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#page_complete
{
	width: auto;
	margin: auto;
}




/* Header nav */

header
{
	justify-content: inherit;
	align-items: inherit;
}

#logo, #naviguation
{
	display: flex;
	flex-direction: column;
}



/* SECTION 1 FILTRES */



#filtres
{
	display: inline;
}

#regroupe
{
	display: flex;
}


#bloc1
{
	margin-bottom: 12px;
}

#bloc2
{
	margin-bottom: 12px;
}


#bloc3
{
	width: 165px;
	margin-bottom: 12px;
}

#bloc4
{
	width: 205px;
	margin-bottom: 12px;
}



/* SECTION 2 */

#section2
{
	float: none;
	height: auto;
	background-color: transparent;
	width: 435px;
    margin: auto;
}

#section2 img 
{
    width: 427px;
	height: 115px;
}

#section2 p 
{
    margin-left: 0px;
    margin-top: 25px;
    font-size: 1em;
}

#section2 h2
{
	margin-left: 0;
	margin-left: 0;
    font-size: 1.3em;
}

#section2 figure
{
	background-color: white;
	width: 435px;
    height: 195px;
}

.photo
{
	width: 435px;
}

.photo figure
{
	margin-right: 0px;
    margin-left: 0px;
}

#hebergement1
{
	flex-direction: column;
}

#hebergement2
{
	flex-direction: column;
}


.name_accommodation
{
    font-size: 0.9em;
}

.price_accomodation 
{
    font-size: 0.80em;
}




/* ASIDE */

#aside_conteneur
{
	float: none;
	width: auto;
	border-radius: 0;
	height: 565px;
}


#aside_conteneur h2 {
    padding-top: 40px;
    margin-bottom: 25px;
	font-size: 1.3em;
	width: 300px;
    margin-left: 90px;
    justify-content: space-between;
}


.aside figure 
{
    margin: auto;
    margin-bottom: 10px;
	width: 300px;
	height: 140px;
}

.aside img
{
	width: 125px;
}

.aside figcaption
{
	padding-top: 5px;
    padding-bottom: 8px;
}



/* SECTION 3 */

#section3 h2
{
	margin-left: 25px;
	font-size: 1.2em;
}

.bloc_grid
{
	padding-top: 20px;
	width: 90%;
	margin: auto;
	margin-bottom: 40px;
	grid-gap: 22px;
}

.title_grid
{
	height: 52px;
	padding-top: 20px;
}


.items1, .items2, .items3, .items4, .items5, .items6
{
	grid-column-start: 1;
	grid-column-end: span 12;
	height: 175px;
}


.items1
{
	grid-row-start: 1;
	grid-row-end: 1;
}

.items2
{
	grid-row-start: 2;
	grid-row-end: 2;

}

.items3
{
	grid-row-start: 4;
	grid-row-end: 4;
}

.items4
{
	grid-row-start: 5;
	grid-row-end: 5;
}

.items5
{
	grid-row-start: 3;
	grid-row-end: 3;
}

.items6
{
	grid-row-start: 6;
	grid-row-end: 6;
}






/* FOOTER */

#pos
{
	display: inline;
}

#a_propos
{
	margin-top: 0px;
	width: 90%;
}

#nos_hebergements
{
	margin-top: 28px;
	width: 65%;
}

#assistance
{
	margin-top: 28px;
	width: 45%;
}