#Page_Complete
{
	width: 1200px;
	margin: auto;
}


/* DEBUT HEADER */

header
{
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}


/* NAVIGUATION */

#Naviguation ul
{
	list-style-type: none;
	display: flex;
}

#Naviguation li
{
	padding-left: 50px;
}

#Naviguation li a
{
	text-decoration: none;
}

#Naviguation a:hover
{
	border-top: 2px blue solid;
	padding-top: 25px;
}



/* FORMULAIRE */

#Section1


#Form p
{
	display: flex;
}


#Form label
{
	background-color: #F2F2F2;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 5px;
	border-radius: 35% 0% 0% 35%;
}


#Form input
{
	height: 26px;
	border: 0.5px solid #F2F2F2;
}


#Recherche_bouton
{
	background-color: #0065FC;
	color: white;
	border-radius: 0 8px 8px 0;
	height: 29px !important;
}








#Formulaire

#Economique

#Familial

#Romantique

#Animaux





#Section2

#Hebergement1

#Figure1

#Figure2

#Figure3




#Hebergement2

#Figure4

#Figure5

#Figure6





#Aside

#Populaire1

#Populaire2

#Populaire3




#Section3

#Activité1

#Activité2

#Activité3

#Activité4

#Activité5

#Activité6






#A_propos


#Nos_Hebergements


#Assistance